<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Explog</title>
        <link href="{{ SITEURL }}/theme/bootstrap/css/bootstrap.min.css" 
              rel="stylesheet" media="screen"/>
        <link href="{{ SITEURL }}/theme/css/explog.css" rel="stylesheet"
              media="screen" />
        <link href="{{ SITEURL }}/theme/css/font-awesome.min.css"
              rel="stylesheet" media="screen" />
    </head>

    <body>
        <header class="row" id="main-page-heading">
            <section class="row-fluid">
                <section class="span12">
                    <h1 class="muted">
                        <a href="{{ SITEURL }}">
                            <span style="color:black;">exp</span><span style="color:rgb(0, 136, 204);">log</span>
                        </a>
                    </h1>
                </section>
            </section>
        </header>
        <hr />
        <article class="container-fluid">
            <section class="row-fluid">
                <section class="span2">
                    <section class="row-fluid">
                        <section class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="{% block active_home %}{% endblock %}"><a href="{{ SITEURL }}">Home</a></li>
                                <li class="{% block active_categories %}{% endblock %} dropdown-submenu">
                                    <a tabindex="-1" href="{{ SITEURL }}/categories.html">Categories</a>
                                    <ul class="dropdown-menu">
                                        {% for category, articles in categories %}
                                        <li>
                                        <a tabindex="-1" href="{{ SITEURL }}/{{ category.url}}">{{ category }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="divider"></li>
                                <li class="{% block active_about %}{% endblock %}"><a href="{{ SITEURL }}/pages/about.html">About</a></li>
                            </ul>
                        </section>
                    </section>
                    <section class="row-fluid">
                        <section class="span12">
                            <span class="nav-header">Tag Cloud</span>
                            <section class="well sidebar-nav" id="tag-cloud">
                                <ul>
                                    {% for tag in tag_cloud|sort(True) %}
                                    <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/tag/{{ tag.0 }}/">{{ tag.0 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </section>
                    </section>
                </section>
                {% block content %}
                {% endblock %}
            </section>
                    </article>
                <script src="{{ SITEURL }}/theme/js/jquery-1.8.3.min.js"></script>
        <script src="{{ SITEURL }}/theme/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
